*{ font-family: 'Alegreya', serif;}

h1 {
    font-size: 50px;
    line-height: 48px;
    color: #025157;
  }

  .header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;  
  }

  li {
      display: inline;
  }

  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }

  .logo {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
  }

  .menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }

  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }

  .actions a {
    color: #67b54b;
  }

  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;  
}

  .main {
    margin-top: 285px;
    text-align: center;
  }

  .publish {
    /* container styles if any */
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 40px;
    margin-top: 10px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }
  
  .trybutton {
    font-family: "Alegreya", serif;
    background-color: #025157;
    color: white;
  }

  .startbutton {
    font-family: "Alegreya", serif;
    background-color: #025157;
    color: white;
  }