*{ font-family: 'Heebo', sans-serif;}

h1 {
    color: #025157;
  }

  .header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;  
  }

  li {
      display: inline;
  }

  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }

  .logo {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
    text-align: center;
    color: #025157;
  }

  .menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }

  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }

  .actions a {
    color: #67b54b;
  }

  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;  
}

  .main {
    margin-top: 140px;
    text-align: center;
  }